version: '3.8'

services:
  db:
    image: postgres:16
    container_name: habit-postgres
    environment:
      POSTGRES_DB: habitdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    ports:
      - "5433:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres-data: